<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BtpdWebui</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">@import "basic.css";</style>
<style type="text/css" media="screen">@import "torrents.css";</style>
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
<script type="text/javascript" src="/prototype.js"></script>
<script type="text/javascript" src="/torrents.js"></script>
<TMPL_UNLESS tab_new>
<script type="text/javascript">
startUpdater(<TMPL_VAR frequency>, '<TMPL_VAR tab>');
</script>
</TMPL_UNLESS>
</head>
<body>

<div id="header">
<div id="title">
Btpd<span id="webui">Webui</span><span id="version"> <TMPL_VAR version></span>
</div>
<ul id="menu">
<TMPL_IF tab_new>
<li class="current"><a href="/torrents?tab=new">New Torrent</a></li>
<li><a href="/torrents?tab=all">All</a></li>
<li><a href="/torrents?tab=active">Active</a></li>
<li><a href="/torrents?tab=inactive">Inactive</a></li>
</TMPL_IF>
<TMPL_IF tab_all>
<li><a href="/torrents?tab=new">New Torrent</a></li>
<li class="current"><a href="/torrents?tab=all">All</a></li>
<li><a href="/torrents?tab=active">Active</a></li>
<li><a href="/torrents?tab=inactive">Inactive</a></li>
</TMPL_IF>
<TMPL_IF tab_active>
<li><a href="/torrents?tab=new">New Torrent</a></li>
<li><a href="/torrents?tab=all">All</a></li>
<li class="current"><a href="/torrents?tab=active">Active</a></li>
<li><a href="/torrents?tab=inactive">Inactive</a></li>
</TMPL_IF>
<TMPL_IF tab_inactive>
<li><a href="/torrents?tab=new">New Torrent</a></li>
<li><a href="/torrents?tab=all">All</a></li>
<li><a href="/torrents?tab=active">Active</a></li>
<li class="current"><a href="/torrents?tab=inactive">Inactive</a></li>
</TMPL_IF>
</ul>
<div id="logout">
Logged in as <TMPL_VAR username> | <a href="/logout">Logout</a>
</div>
</div>
<div id="content">
<TMPL_IF tab_new>
<TMPL_IF new_error>
<div id="message" class="error">Error: <TMPL_VAR new_error></div>
<br />
</TMPL_IF>
<TMPL_IF new_added>
<div id="message" class="info">Successfully added torrent.</div>
<br />
</TMPL_IF>
<div id="add-box">
<form name="upload" id="upload" method="post" enctype="multipart/form-data">
Select the torrent you wish to add.<br />
<input type="file" name="torrent" size="50" /><br /><br />
<input type="checkbox" name="start" />Automatically start the torrent.<br />
<input type="checkbox" name="topdir" />Append the torrent name to the content path (<TMPL_VAR contentdir>).<br /><br />
<input type="submit" value="Add Torrent" />
</form>
</div>
</TMPL_IF>
</div>
</body>
</html>

